<div class="container__about">
    <div class="about__text">
        <h1>Sobre nós</h1>
        <p>Na TechWave Solutions, estamos comprometidos em fornecer soluções inovadoras para
            as necessidades tecnológicas do seu negócio.
        </p>
    </div>

    <div class="about__cards">
        <app-about-card cardIcon="assets/icons/consulting.svg" cardTitle="Consultoria" cardDescription="Auxiliamos sua empresa a encontrar
        as melhores soluções em tecnologia."></app-about-card>

        <app-about-card cardIcon="assets/icons/web-development.svg" cardTitle="Desenvolvimento Web" cardDescription="Sites e sistemas modernos,
        rápidos e responsivos."></app-about-card>

        <app-about-card cardIcon="assets/icons/mobile.svg" cardTitle="Aplicativos Mobile" cardDescription="Aplicações nativas e
        híbridas sob medida para o seu negócio"></app-about-card>

        <app-about-card cardIcon="assets/icons/support.svg" cardTitle="Suporte Técnico" cardDescription="Atendimento ágil e especializado para manter seu negócio sempre online."></app-about-card>
    </div>
    
    <div class="about__button-wrapper">
        <app-contact-button variant="about" btnText="Fale conosco"></app-contact-button>
    </div>
    
</div>