<div class="container__footer">
    <div class="footer__cards">
        <app-footer-card cardTitle="Serviços"
        [cardItems]="['Consultoria', 'Desenvolvimento Web', 'Aplicações Mobile']" />
        <app-footer-card cardTitle="Empresa" [cardItems]="['Sobre nós', 'Carreiras', 'Contato']" />
        <app-footer-card cardTitle="Redes Sociais" [cardItems]="['LinkedIn', 'Facebook', 'Instagram']" />
    </div>

    <div class="footer__text">
        <p>© 2025 TechWave Solutions. Todos os direitos reservados.</p>
    </div>
</div>